body {
    background-color: #F2D1B5;
}

.layout {
    margin: 30px 20% 40px 20%;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

.content {
    padding: 30px;
}


@media screen and (max-width:861px){
    .layout {
        margin: 30px 5% 40px 5%;
    }
    .content {
        padding: 10px;
    }
}