.box {
    margin: 30px 0;
}

.table {
    line-height: 1.5;
    margin : 20px;
}

.text {
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.link {
    text-decoration: none;
    color: black;
}