.boardName {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 45px;
}


@media screen and (max-width:861px){
    .boardName {
        font-size: 18px;
        margin-bottom: 20px;
    }
}