.box {
    text-align: center;
    padding: 30px;
}

.text {
    margin-top: 25px;
}


@media screen and (max-width:861px){
    .img {
        width: 130%;
        transform: translateX(-11.5%);
    }
    .text {
        font-size: 14px;
    }
}