.box {
    text-align: center;
}

.oneText {
    margin: 20px;
    font-size: 25px;
    color: #5B99A6;
    font-weight: bold;
    letter-spacing: 5px;
}

.content {
    margin: 20px;
}

.text {
    margin: 10px;
    letter-spacing: 3px;
}

